@media screen and (min-width: 960px) {
    body {
      font-family: "Kanit", sans-serif;
      margin: 0;
    }

    button:hover {
        animation: bounce 1s ease infinite;
    }

    @keyframes bounce {
        80% { transform:translateY(-15%); }
        90% { transform:translateY(0%); }
        95% { transform:translateY(-7%); }
        97% { transform:translateY(0%); }
        99% { transform:translateY(-3%); }
        100% { transform:translateY(0); }
    }

    
    /* navbar style */
    .nav {
      display: flex;
      align-items: center;
      margin-left: 8%;
    }
  
    .nav img {
      width: 115px;
    }
  
    .nav ul {
      list-style-type: none;
      overflow: hidden;
      margin-left: 45%;
    }
  
    .nav li {
      float: left;
    }
  
    .nav li a {
      display: block;
      padding: 30px;
      text-decoration: none;
      color: black;
    }
  
    .nav li a:hover {
      color: #fa4a0c;
    }


  /* contact form style */

  .contact {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    width: 70%;
    margin: auto;
  }

  input {
    width: 100%;
    height: 50px;
  }

  h2 {
    text-align: left;
  }

  .contact .block:nth-child(3) input[type="text"] {
    height: 100px;
  }

  .sbutton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .send,
  .clear {
    margin: 5%;
    font-size: 1.8vw;
    width: 10vw;
    text-decoration: none;
    border: 1;
    background-color: transparent;
    color: black;
    border-color: black;
    border-radius: 28px;
  }

  .clear:hover {
    color: white;
    background-color: #fa4a0c;
    border: none;
  }

  .send:hover {
    color: white;
    background-color: #fa4a0c;
    border: none;
  }



   /* footer style */
  .footer {
    display: flex;
    align-items: center;
    margin-left: 13.8%;
  }

  .logo2 img {
    width: 15vw;
  }

  .footer ul {
      list-style-type: none;
      margin: 13.9%;   
  }

  .social {
    width: 1.8vw;
  }

  .footer li {
      float: left;
    }
  
  .footer li a {
      display: block;
      padding: 30px;
    }

  small {
    color: #fa4a0c;
    font-size: 1vw;
  }
}


@media screen and (max-width: 960px) {
    body {
      font-family: "Kanit", sans-serif;
      margin: 0;
    }

    button:hover {
        animation: bounce 1s ease infinite;
    }

    @keyframes bounce {
        80% { transform:translateY(-15%); }
        90% { transform:translateY(0%); }
        95% { transform:translateY(-7%); }
        97% { transform:translateY(0%); }
        99% { transform:translateY(-3%); }
        100% { transform:translateY(0); }
    }

    
   /* navbar style */
  .nav img {
    position: relative;
    width: 115px;
    margin-left: 13vw;
    top: 127px;
  }

  .nav ul {
    list-style-type: none;
    overflow: hidden;
    margin-right: 30px;
    text-align: center;
  }

  .nav li a {
    display: block;
    padding: 30px;
    text-decoration: none;
    color: black;
  }

  .nav li a:hover {
    color: #fa4a0c;
  } 


  /* contact form style */

  .contact {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    width: 70%;
    margin: auto;
  }

  input {
    width: 100%;
    height: 50px;
  }

  h2 {
    text-align: left;
  }

  .contact .block:nth-child(3) input[type="text"] {
    height: 100px;
  }

  .sbutton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .send,
  .clear {
    margin: 5%;
    font-size: 1.8vw;
    width: 10vw;
    text-decoration: none;
    border: 1;
    background-color: transparent;
    color: black;
    border-color: black;
    border-radius: 28px;
  }

  .clear:hover {
    color: white;
    background-color: #fa4a0c;
    border: none;
  }

  .send:hover {
    color: white;
    background-color: #fa4a0c;
    border: none;
  }



  /* footer style */
  .footer {
    display: flex;
    align-items: center;
    margin-left: 13.8%;
  }

  .logo2 img {
    width: 15vw;
  }

  .footer ul {
      list-style-type: none;
      margin: 13.9%;   
  }

  .social {
    width: 1.8vw;
  }

  .footer li {
      float: left;
    }
  
  .footer li a {
      display: block;
      padding: 2vw;
    }

  small {
    color: #fa4a0c;
    font-size: 1vw;
  }
}
