@media screen and (min-width: 960px) {
    body {
      font-family: "Kanit", sans-serif;
      margin: 0;
    }

    button:hover {
        animation: bounce 1s ease infinite;
    }

    @keyframes bounce {
        80% { transform:translateY(-15%); }
        90% { transform:translateY(0%); }
        95% { transform:translateY(-7%); }
        97% { transform:translateY(0%); }
        99% { transform:translateY(-3%); }
        100% { transform:translateY(0); }
    }

    
    /* navbar style */
  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav img {
    width: 115px;
    margin-left: 60px;
  }

  .nav ul {
    list-style-type: none;
    overflow: hidden;
    margin-right: 30px;
  }

  .nav li {
    float: left;
  }

  .nav li a {
    display: block;
    padding: 30px;
    text-decoration: none;
    color: black;
  }

  .nav li a:hover {
    color: #619229;
  } 


  /* contact form style */

  .contact {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    width: 70%;
    margin: auto;
  }

  input {
    width: 100%;
    height: 50px;
  }

  h2 {
    text-align: left;
  }

  .contact .block:nth-child(3) input[type="text"] {
    height: 100px;
  }

  .sbutton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .send,
  .clear {
    margin: 5%;
    font-size: 20px;
    padding: 3%;
    text-decoration: none;
    border: none;
    color: #caa064;
    background-color: black;
    border-radius: 28px;
  }

  .clear:hover {
    color: white;
    background-color: #619229;
  }

  .send:hover {
    color: white;
    background-color: #619229;
  }



    /* footer style */
  .footer {
    display: flex;
    align-items: center;
    margin-left: 18%;
  }

  .logo2 img {
    width: 115px;
  }

  .footer ul {
      list-style-type: none;
      margin: 13.9%;
      
  }

  .social {
    width: 25px;
  }

  .footer li {
      float: left;
    }
  
  .footer li a {
      display: block;
      padding: 10px;
    }

  small {
    color: #619229;
  }
}


@media screen and (max-width: 960px) {
    body {
      font-family: "Kanit", sans-serif;
      margin: 0;
    }

    button:hover {
        animation: bounce 1s ease infinite;
    }

    @keyframes bounce {
        80% { transform:translateY(-15%); }
        90% { transform:translateY(0%); }
        95% { transform:translateY(-7%); }
        97% { transform:translateY(0%); }
        99% { transform:translateY(-3%); }
        100% { transform:translateY(0); }
    }

    
    /* navbar style */
  .nav img {
    width: 115px;
    margin-left: 60px;
  }

  .nav ul {
    list-style-type: none;
    overflow: hidden;
    margin-right: 30px;
    text-align: center;
  }

  .nav li a {
    display: block;
    padding: 30px;
    text-decoration: none;
    color: black;
  }


  .nav li a:hover {
    color: #619229;
  } 


  /* contact form style */

  .contact {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    width: 70%;
    margin: auto;
  }

  input {
    width: 100%;
    height: 50px;
  }

  h2 {
    text-align: left;
  }

  .contact .block:nth-child(3) input[type="text"] {
    height: 100px;
  }

  .sbutton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .send,
  .clear {
    margin: 5%;
    font-size: 20px;
    padding: 3%;
    text-decoration: none;
    border: none;
    color: #caa064;
    background-color: black;
    border-radius: 28px;
  }

  .clear:hover {
    color: white;
    background-color: #619229;
  }

  .send:hover {
    color: white;
    background-color: #619229;
  }



    /* footer style */
  .footer {
    display: flex;
    align-items: center;
    margin-left: 18%;
  }

  .logo2 img {
    width: 115px;
  }

  .footer ul {
      list-style-type: none;
      margin: 13.9%;
      
  }

  .social {
    width: 25px;
  }

  .footer li {
      float: left;
    }
  
  .footer li a {
      display: block;
      padding: 10px;
    }

  small {
    color: #619229;
  }
}
