@media screen and (min-width: 960px) {
  body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
  }

  .welcome button {
    animation: shake 1s ease infinite;
  }

  @keyframes shake {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }

  /* navbar style */
  .nav {
    display: flex;
    align-items: center;
    margin-left: 8%;
  }

  .nav img {
    width: 115px;
  }

  .nav ul {
    list-style-type: none;
    overflow: hidden;
    margin-left: 45%;
  }

  .nav li {
    float: left;
  }

  .nav li a {
    display: block;
    padding: 30px;
    text-decoration: none;
    color: black;
  }

  .nav li a:hover {
    color: #fa4a0c;
  } 

  /* welcome banner style */
  
  .welcome {
    position: relative;
    display: inline-block;
  }

  .welcome h1 {
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 5vw;
    z-index: 2;
    width: 100%;
  }

  .welcome p:nth-child(1) {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2vw;
    z-index: 2;
  }

  .welcome p:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2vw;
    z-index: 2;
  }

  .welcome img{
    position: relative;
    width: 100vw;
    height: auto;
  }

  .welcome::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }

  .welcome .playstore {
    position: absolute;
    top: 65%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
    border: 1;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 38px;
    z-index: 3;
    width: 15%;
  }

  .welcome .app{
    position: absolute;
    top: 65%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
    border: 1;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 38px;
    z-index: 3;
    width: 15%;
  }

  .welcome .playstore:hover{
    background-color: #fa4a0c;
    color: white;
    border: none;
  }

  .welcome .app:hover{
    background-color: #fa4a0c;
    color: white;
    border: none;
  }

  .appimg {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 640px;
  }

  .phone1 {
    position: absolute;
    top: -23vw;
    left: 50%; 
    transform: translateX(-60%); 
    width: 50%; 
    height: auto;
    width: 40%;
    z-index: 4;
  }

  .phone2 {
    position: absolute;
    top: -5vw;
    left: 50%; 
    width: 50%;
    height: auto;
    width: 20%;
    z-index: 4;
    left: 50%; 
    transform: translateX(0%);
  }

  /* Introduction part of the style, using the grid */
  .introduce {
    color: rgb(65, 65, 65);
  }

  .title h1{
    display: flex;
    justify-content: center ;
  }

  .process {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    width: 80%;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .process img {
    width: 45vw;
  }

  .process p1 {
    color: #fa4a0c;
    font-size: 2vw;
    font-weight: 500;
  }

  .process p2 {
    font-size: 2vw;
  }

  .process .block:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .process .block:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .process .block:nth-child(3) {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .process .block:nth-child(4) {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .process .block:nth-child(5) {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .process .block:nth-child(6) {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  /* purchase style */
  .download {
    position: relative;
    display: inline-block;
  }

  .download h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 200%;
  }

  .download p {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 20px;
  }

  .download img{
    width: 100vw;
    height: auto;
    margin: 0;
  }

  .download .playstore2 {
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
    border: 1;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 38px;
    z-index: 3;
    width: 15%;
  }

  .download .app2 {
    position: absolute;
    top: 65%;
    left: 65%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
    border: 1;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 38px;
    z-index: 3;
    width: 15%;
  }

  .download .playstore2:hover{
    background-color: #fa4a0c;
    color: aliceblue;
    border: none;
  }

  .download .app2:hover{
    background-color: #fa4a0c;
    color: aliceblue;
    border: none;
  }
  
  /* footer style */
  .footer {
    display: flex;
    align-items: center;
    margin-left: 13.8%;
  }

  .logo2 img {
    width: 15vw;
  }

  .footer ul {
      list-style-type: none;
      margin: 13.9%;   
  }

  .social {
    width: 1.8vw;
  }

  .footer li {
      float: left;
    }
  
  .footer li a {
      display: block;
      padding: 30px;
    }

  small {
    color: #fa4a0c;
    font-size: 1vw;
  }
}



@media screen and (max-width: 960px) {
  body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
  }

  .welcome button {
    animation: shake 1s ease infinite;
  }

  @keyframes shake {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }

  /* navbar style */
  .nav img {
    position: relative;
    width: 115px;
    margin-left: 13vw;
    top: 127px;
  }

  .nav ul {
    list-style-type: none;
    overflow: hidden;
    margin-right: 30px;
    text-align: center;
  }

  .nav li a {
    display: block;
    padding: 30px;
    text-decoration: none;
    color: black;
  }

  .nav li a:hover {
    color: #fa4a0c;
  } 


  /* welcome banner style */
  
  .welcome {
    position: relative;
    display: inline-block;
  }

  .welcome h1 {
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 5vw;
    z-index: 2;
    width: 100%;
  }

  .welcome p:nth-child(1) {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2vw;
    z-index: 2;
  }

  .welcome p:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2vw;
    z-index: 2;
  }

  .welcome img{
    position: relative;
    width: 100vw;
    height: auto;
  }

  .welcome::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }

  .welcome .playstore {
    position: absolute;
    top: 65%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
    border: 1;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 38px;
    z-index: 3;
    width: 15%;
  }

  .welcome .app{
    position: absolute;
    top: 65%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
    border: 1;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 38px;
    z-index: 3;
    width: 15%;
  }

  .welcome .playstore:hover{
    background-color: #fa4a0c;
    color: white;
    border: none;
  }

  .welcome .app:hover{
    background-color: #fa4a0c;
    color: white;
    border: none;
  }

  .appimg {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 43vw;
  }

  .phone1 {
    position: absolute;
    top: -23vw;
    left: 50%; 
    transform: translateX(-60%); 
    width: 50%; 
    height: auto;
    width: 40%;
    z-index: 4;
  }

  .phone2 {
    position: absolute;
    top: -5vw;
    left: 50%; 
    width: 50%;
    height: auto;
    width: 20%;
    z-index: 4;
    left: 50%; 
    transform: translateX(0%);
  }

  /* Introduction part of the style, using the grid */
  .introduce {
    color: rgb(65, 65, 65);
  }

  .title h1{
    display: flex;
    justify-content: center ;
  }

  .process {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    width: 75vw;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .process img {
    width: 45vw;
  }

  .process p1 {
    color: #fa4a0c;
    font-size: 2vw;
    font-weight: 500;
  }

  .process p2 {
    font-size: 2vw;
  }

  .process .block:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .process .block:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .process .block:nth-child(3) {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .process .block:nth-child(4) {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .process .block:nth-child(5) {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .process .block:nth-child(6) {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  /* purchase style */
  .download {
    position: relative;
    display: inline-block;
  }

  .download h1 {
    position: absolute;
    top: 4vw;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 3vw;
  }

  .download p {
    position: absolute;
    top: 11vw;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2vw;
  }

  .download img{
    width: 100vw;
    height: auto;
    margin: 0;
  }

  .download .playstore2 {
    position: absolute;
    top: 65%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
    border: 1;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 38px;
    z-index: 3;
    width: 15%;
  }

  .download .app2 {
    position: absolute;
    top: 65%;
    left: 65%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
    border: 1;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 38px;
    z-index: 3;
    width: 15%;
  }

  .download .playstore2:hover{
    background-color: #fa4a0c;
    color: aliceblue;
    border: none;
  }

  .download .app2:hover{
    background-color: #fa4a0c;
    color: aliceblue;
    border: none;
  }
  
  /* footer style */
  .footer {
    display: flex;
    align-items: center;
    margin-left: 13.8%;
  }

  .logo2 img {
    width: 15vw;
  }

  .footer ul {
      list-style-type: none;
      margin: 13.9%;   
  }

  .social {
    width: 1.8vw;
  }

  .footer li {
      float: left;
    }
  
  .footer li a {
      display: block;
      padding: 2vw;
    }

  small {
    color: #fa4a0c;
    font-size: 1vw;
  }
}









